# Ignore all .fa, .fasta, .sam, .bam, .bt2 files
*.fa
*.fasta
*.fastq
*.sam
*.bam
*.bt2
*bam*
*pytor 


# Ignore specific files produced from bowtie2convert
counts.txt
stat.txt
unmapped.txt


# Ignore specific files produced from cgal_perPositionMapping
gcValue.txt
info1.txt
infoOutput1.txt
out.txt
readsInPerPositionGenome.txt