# Ignore all .fa, .fasta, .sam, and .bam files
*.fa
*.fasta
*.sam
*.bam


# Ignore specific files produced from bowtie2convert
counts.txt
stat.txt
unmapped.txt


# Ignore specific files produced from cgal_perPositionMapping
gcValue.txt
info1.txt
infoOutput1.txt
out.txt
readsInPerPositionGenome.txt